<html>

<head>
  <%- include('partials/head'); %>
    <link rel="stylesheet" href="/stylesheets/board.css" />
    <link rel="stylesheet" href="/stylesheets/dice.css" />
    <style>
      #board-container {
        width: fit-content;
        margin: auto;
      }
    </style>
</head>

<body>
  <%# include('./partials/navbar'); %>

    <div class="players-list">
      <% for (let i=0; i < playersNames.length; i++) { %>
        <div>
          <%= playersNames[i].username.username %>
          <%# playersNames[i].id %>
          $<%= playersNames[i].money %>
        </div>
        <% } %>
    </div>
    <div id="board-container">
      <%- include('partials/board'); %>
        <div id="player-pieces">
          <% for (let i=0; i < playersList.length; i++) { %>
            <div class="player" id="p<%= playersList[i].user_id %>"></div>
            <% } %>
        </div>
    </div>
    <% for (let i=1; i < 42; i++) { %>
      <%- include('partials/cell-popup', {id: i}); %>
        <% } %>
          <%- include('partials/dice-roll-popup'); %>
            <%- include('partials/turn-popup'); %>
              <button onclick="document.getElementById('turn-popup').showModal()">Open Turn Options</button>
              <div id="users-list">
                <template id="user-item">
                  <div class="user"></div>
                </template>
              </div>
              <div class="chat">
                <%- include('partials/chat.ejs') %>
              </div>
              <!-- <div class="game-options-div">
            <form action="/api/games/<%= id %>/startTurn" method="POST">
              <button type="submit" class="ms-btn ms-action" value="Start Turn">Start Turn</button>
            </form>
          </div> -->
              <div class="game-options-div">
                <form action="/api/games/<%= id %>/endGame" method="POST">
                  <button type="submit" class="ms-btn ms-action" value="End Game">End Game</button>
                </form>
                <form action="/api/games/<%= id %>/startGame" method="POST" >
                  <button type="submit" class="ms-btn ms-action" value="Start Turn Test">Start Turn Test</button>
                </form>
              </div>

</body>

<script>

</script>

</html>