<html>
    <head>
        <%- include('partials/head.ejs') %>
    </head>

    <body>
        <%- include('./partials/navbar'); %>
        <h1>Game <%= id %> Page</h1>
        <%- include('partials/authenticated_nav.ejs') %>
        <div class="col-sm-9"><%- include('partials/game_board.ejs') %></div>
    </body>
</html>