<html>

<head>
  <%- include('partials/head.ejs') %>
</head>

<body>
  <%- include('partials/authenticated-nav.ejs') %>
  <h1>Home Page (Authenticated) - Hi <%= user.username %> (id: <%= user.id %>)</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <form method="get" action="/api/games/create">
            <!-- Button elem might cause issues with chat msg submission -->
            <button type="submit" class="primary-button" value="Create Game">Create Game</button>
            <!-- <a href="/api/games/create" id="create-game-link" class="primary-button">Create Game</a> -->
            <h2>Available Games</h2>
            <ul id="game-list">
              <% for(let i=0; i < games.length; i++) { %>
                <li>
                  <a href="/api/games/<%= games[i].id %>/join">Join <span>
                      <%= games[i].id %>
                    </span></a>
                </li>
                <% } %>
            </ul>
          </form> 
        </div>
      </div>
    </div>
    <template id="available-game-item">
      <div>
        <li>
          <a href="#">Join <span>42</span></a>
        </li>
      </div>
    </template>
    <button class="primary-button" id="test-socket-button" value="Test">Test Socket Connection</button>
</body>

</html>