<html>

<head>
  <%- include('partials/head.ejs') %>
  <style>
    #game-heading {
      text-align: center;
      margin-bottom: 64px;
    }
    #lobby-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      gap: 64px;
      /* align-items: center; */
    }
    #player-list-div {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 64px;
    }
    #player-list {
      font-family: var(--body-font);
      margin: 0;
      /* padding: 0; */
    }
    /* #player-list li {
      margin: 0;
      padding: 0;
    } */
    .chat {
      width: 480px;
    }
    .chat h2 {
      margin-bottom: 16px;
    }
    form {
      margin-bottom: 0;
    }
  </style>
</head>

<body>
  <%- include('./partials/authenticated-nav'); %>
    <h1 id="game-heading">Game <%= id %>
    </h1>
    <div id="lobby-container">
      <div id="player-list-div">
        <h2>In This Game</h2>
        <ol id="player-list">
          <% for(let i=0; i < playersList.length; i++) { %>
            <li>
              <span>
                <%= playersList[i].username.username %>
              </span>
            </li>
            <% } %>
        </ol>
        <div class="game-options-div">
          <!-- <button onclick="window.location.href='/games/<%= id %>'">Start Game</button> -->
          <form action="/api/games/<%= id %>/startGame" method="POST">
            <button type="submit" class="primary-button" value="Start Game">Start Game</button>
          </form>
        </div>
      </div>
      <div class="chat">
        <h2>Chat</h2>
        <%- include('partials/chat.ejs') %>
      </div>
    </div>
    <template id="player-item">
      <div>
        <li>
          <span>
            username
          </span>
        </li>
      </div>
    </template>
</body>