<html>

<head>
  <%- include('partials/head.ejs') %>
</head>

<body>
  <%- include('./partials/authenticated-nav'); %>
    <h1>Lobby Page for Game <%= id %>
    </h1>
    <div id="players-list-div">
      <h2>In This Game</h2>
      <ol id="players-list">
        <% for(let i=0; i < playersList.length; i++) { %>
          <li>
            <span>
              <%= playersList[i].username.username %>
            </span>
          </li>
          <% } %>
      </ol>
    </div>
    <div class="game-options-div">
      <button onclick="window.location.href='/games/<%=id %>'">Start Game</button>
      <!-- <form action="/games/<%=id %>">
                <button type="submit" class="ms-btn ms-action" value="Start Game">Start Game</button>
            </form> -->
    </div>
</body>

</html>